* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: #05192A;
}

/* Cabeçalho */

.cabeçalho {
    padding: 20px;
    background-color: #04233F;
}

.titulo {
    color: #1190FF;
    font-size: 2em;
    font-weight: 600;
}

/* Navegador */

.navegador {
    background-color: #06345D;
    padding: 20px;
}

.navegador a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: #2a7dc5;
}

.navegador a:hover {
    color: #ffffff;
}

/* Serviços */

.servicos {
    padding: 80px;
}

.servicos h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.servicos h3 {
    padding: 20px 0px 20px 0px;
    color: #2097FF;
    font-size: 1.4em;
}

.servicos li {
    margin: 0px 0px 20px 50px;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

ul li {
    list-style-position: inside;
    font-size: 1.1em;
}

ol {
    padding-left: 0;
    margin-left: 0;
}

ol li {
    list-style-position: inside;
    font-size: 1.1em;
}


/* Contatos */

.contatos {
    background-color: #082946;
    padding: 80px 80px 40px 80px;
    color: white;
}

.contatos h3 {
    font-size: 1.5em;
}

.botoes {
    padding: 60px;
    text-align: center;
}

.botoes a {
    display: flexk;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.3em;
    background-color: #2a7dc5;
    color: white;
    padding: 20px 60px;
    margin: 10px 30px;
    border-radius: 10px;
}

.botoes a:hover {
    background-color: white;
    color: #061F35;
}

/* Rodape */

.rodape {
    padding: 40px;;
    color: antiquewhite;
}